.section-carousel-cartoon {
  height: 300px;
  padding-top: 1px;

  .block-slide-cartoon {
    .img-customize-cartoon {
      border-radius: 10px;
      height: 180px;
      background-image: url("https://i.ytimg.com/vi/5qap5aO4i9A/hq720_live.jpg?sqp=CIS4vYkG-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDK2Q9a7bkJrPagb1Ht05n2-L8QOg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      text-align: center;

      &:hover {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url("https://i.ytimg.com/vi/5qap5aO4i9A/hq720_live.jpg?sqp=CIS4vYkG-oaymwEXCNAFEJQDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDK2Q9a7bkJrPagb1Ht05n2-L8QOg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
      .play {
        font-size: 40px;
        color: white;
        margin-top: 36px;
        display: none;
      }

      &:hover .play {
        display: inline-block;
      }

      p {
        font-size: 12px;
        position: absolute;
        left: -1px;
        right: -1px;
        bottom: -16px;
        height: 50px;
        background-color: #0d0d0d;
        display: block;
        color: #fff;
        padding: 10px 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        text-align: left;
      }
    }
  }
}
