.play-container {
  background-color: #181818;
  padding: 0px 90px;
  .play-content {
    .play-media {
      .play-body {
        height: 500px;
      }
    }
    .description-movie {
    }
    .recomment-movie {
    }
  }
}

// https://www.googleapis.com/drive/v3/files/1G2sEXj-sXuaJXA9O4oyHZzZQD9kWcXDB?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1_0-g2QgmN1lDJ1HIsWzdmrI3kbxmkZiO?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=mediaa
// https://www.googleapis.com/drive/v3/files/1pcPDn5ldkj6WqQPAOp3Vm4PuR9eHx6LW?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/18RTPOK5LbAb0euTZG42RdRLcSSp3KwGr?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/10GEVDC2oDkFRJdQfYWk5GaIOwgGghqbB?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1CruYvLM85q2SBotEz62JkAoFI7qFJrMD?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1_2i6_DgGUfgc3HNJrICUeEAg5GpQqvn6?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1geaK9oLnYfjltQ-ZtxsKActr6gEQUsVO?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1WT4KK2zYUqNtjH1bRW7PhX9tz4-jb99O?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
