.play-container {
  background-color: #181818;
  padding: 0px 90px;
  color: #fff;
  .play-content {
    .play-media {
      overflow: hidden;
      .play-body {
        height: 600px;
        margin-top: 90px;
      }
    }
    .description-movie {
      height: 45vh;
      .container {
        padding: 50px 0;
        .img-movie {
          img {
            width: 180px;
            height: 260px;
          }
        }

        .description-info {
          .film-title {
          }

          .user-action {
            margin: 20px 0;

            .follow {
              background: linear-gradient(90deg, #252728 0, #3f4143);
              margin-right: 20px;
            }
            .share {
              background: #ff6500;
            }
            a {
              color: #fff;
              text-decoration: none;
              border-radius: 10px;
              display: inline-block;
              height: 36px;
              width: 120px;
              line-height: 36px;
              text-align: center;

              i {
                color: #fff;
              }
            }
          }

          .film-desc {
            span {
              font-size: 20px;
              display: inline-block;
              margin-bottom: 10px;
            }
            p {
              line-height: 25px;
            }
          }
        }

        .some-info-movie {
          tr {
            .info-left {
              font-size: 16px;
              width: 32%;
            }
            .info-right {
              opacity: 0.5;
              a {
                text-decoration: none;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .recomment-movie {
      padding: 50px 0;
      height: 100px;
    }
  }
}

// https://www.googleapis.com/drive/v3/files/1G2sEXj-sXuaJXA9O4oyHZzZQD9kWcXDB?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1_0-g2QgmN1lDJ1HIsWzdmrI3kbxmkZiO?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=mediaa
// https://www.googleapis.com/drive/v3/files/1pcPDn5ldkj6WqQPAOp3Vm4PuR9eHx6LW?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/18RTPOK5LbAb0euTZG42RdRLcSSp3KwGr?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/10GEVDC2oDkFRJdQfYWk5GaIOwgGghqbB?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1CruYvLM85q2SBotEz62JkAoFI7qFJrMD?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1_2i6_DgGUfgc3HNJrICUeEAg5GpQqvn6?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1geaK9oLnYfjltQ-ZtxsKActr6gEQUsVO?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
// https://www.googleapis.com/drive/v3/files/1WT4KK2zYUqNtjH1bRW7PhX9tz4-jb99O?key=AIzaSyAMLhicKHJG0-jAnwlRaAkFrrZqxTMIeg4&alt=media
